body{
    margin: 0;
    padding: 5%;
    padding-top: 2%;
}

button{
    border-radius: 5px;
    outline: none !important;
    border: 1px solid rgba(0,0,0,0.4);
}

div{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.txtinput{
    background-color: rgb(243, 231, 212);
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 5px;
    font-size: 150%;
}

.txtinput:focus, .txtinput:hover {
    outline: none !important;
    box-shadow: 0 0 8px 1px rgba(255,165,0,1);
}

#submit{
    font-size: 200%;
}
/*submitbtn(background-color,color),modebtn(background-color,color,innerhtml),body(background-color) are implemented using js*/

/*#submit:hover,#mode:hover will be in second stylesheet, implemented using js*/

#message{
    resize: none;
}
#mode{
    float: right;
    font-size: 150%;
}




/*Media queries*/

@media only screen and (max-width:710px){
    .txtinput{
        font-size: 150%;
    }
    textarea{
        width: 100%;
    }
    #submit{
        font-size: 250%;
    }
    #mode{
        font-size: 130%;
    }
}
@media only screen and (max-width:450px){
    input{
        width: 100%;
    }
    .txtinput{
        font-size: 150%;
    }
    textarea{
        width: 100%;
    }
    #submit{
        font-size: 250%;
        width: 100%;
    }
    #mode{
        font-size: 130%;
    }
}

@media only screen and (min-width:1050px){
    .txtinput{
        font-size: 200%;
    }
    textarea{
        width: 70%;
    }
    #submit{
        font-size: 200%;
    }
    #mode{
        font-size: 200%;
    }
}

@media only screen and (min-width:1300px){
    textarea{
        width: 50%;
    }
}