body{
    margin: 0;
    padding: 5%;
    padding-top: 2%;
}

button{
    border-radius: 8px;
    outline: none !important;
    border: 1px solid rgba(0,0,0,0.4);
}


.txtinput{
    background-color: rgb(243, 231, 212);
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 7px;
    font-size: 200%;
}

.txtinput:focus, .txtinput:hover {
    outline: none !important;
    box-shadow: 0 0 8px 1px rgba(255,165,0,1);
}

#submit{
    font-size: 300%;
    color: rgba(0,0,0,0.7);
}

/*#submit:hover,#mode:hover will be in second stylesheet, implemented using js*/

#message{
    resize: none;
}
#mode{
    float: right;
    font-size: 150%;
}




/*Media queries*/

@media only screen and (max-width:710px){
    .txtinput{
        font-size: 150%;
    }
    textarea{
        width: 100%;
    }
    #submit{
        font-size: 250%;
    }
    #mode{
        font-size: 130%;
    }
}

@media only screen and (min-width:1050px){
    .txtinput{
        font-size: 250%;
    }
    textarea{
        width: 70%;
    }
    #submit{
        font-size: 350%;
    }
    #mode{
        font-size: 230%;
    }
}

@media only screen and (min-width:1300px){
    textarea{
        width: 50%;
    }
}